.avatar-chat {
    display: inline-block;
    border: 1px solid rgb(8, 8, 158);
    font-size: 16px;
    width: 35px;
    height: 35px;
    line-height: 16px;
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    border-radius: 50%;
    background-color: rgb(41, 109, 187);
  }